@charset "utf-8";


body{
  font-family: "Noto Sans JP", "Helvetica Neue", "Helvetica", "Hiragino Sans", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 62.5%;
    width: 100%;
  /* overflow-x: hidden; */
  
}
html {
  scroll-behavior: smooth;
}


.main-title1{
  width: 100%;
  position: relative;
  text-wrap: nowrap;
}
/* @media only screen and (max-width: 960px){

} */

.main-title{
  z-index: 2;
  position: absolute;
  top: 36%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: clamp(2.5rem, 7vw, 15rem);
  color: rgb(255, 255, 255);
  display: block;
  width: 100%;
  text-align: center;
  opacity: 0;
  animation: textFade 2.6s ease-out 2.7s forwards; /* ← 3秒後に表示 */
}
@media only screen and (max-width: 960px){
  .main-title{
  z-index: 2;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  color: rgb(255, 255, 255);
  display: block;
  width: 100%;
  text-align: center;
  opacity: 0;
  animation: textFade 2.6s ease-out 2.7s forwards; /* ← 3秒後に表示 */
 }
}

@keyframes textFade {
  from {
    opacity: 0;
    transform: translateY(-50%, -40%) scale(0.95);
    letter-spacing: 0.2em;
  }
  to {
    opacity: 1;
    transform: translateY(-50%, -50%) scale(1);
    letter-spacing: 0.05em;
  }
}

/* header */
.header-title {
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  
}



.header-logo{
  
  width: 4%;
  margin-top: 0.8rem;
  margin-left: 2rem;
  /* position: absolute;  */
  transform: translateX(-150px);
  animation: logo-anime 2s ease-out 3s forwards;
     position: relative;
  z-index: 10;
}
@media only screen and (max-width: 960px){
  .header-logo{
  
  width: 15%;
  margin-top: 0.8rem;
  margin-left: 0.7rem;
  /* position: absolute;  */
  transform: translateX(-150px);
  animation: logo-anime 2s ease-out 3s forwards;
     position: relative;
  z-index: 10;
}
}

@keyframes logo-anime {
   to {
    opacity: 1;
    transform: translateX(0);
}
}
.header-logo a{
  display: block;
   width: clamp(30px, 5vw, 120px);

}


.header-logo img{
  width: 100%;
  border-radius: 30%; 

  
}
@media only screen and (max-width: 960px){
.header-logo img{
  width: 2.4rem;
  border-radius: 30%; 
}
}
 
.header-group{
  margin-top: -4rem;
  margin-left: 0rem;
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-wrap: nowrap;
  white-space: nowrap;
  transform: translateY(-100px);
  animation: font-anime 2s ease-out 3s forwards;
     z-index: 9;
   position: relative;
}
@media only screen and (max-width: 960px){
  .header-group{
  margin-top: -1.8rem;
  margin-left: 2rem;
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-wrap: nowrap;
  white-space: nowrap;
  transform: translateY(-100px);
  animation: font-anime 2s ease-out 3s forwards;
   z-index: 9;
   position: relative;
}
} 



  .menu-item { animation-delay: 1s; }

@keyframes font-anime {
   to {
    opacity: 1;
    transform: translateY(0);
}
}

.header-group ul{
  width: auto;
  list-style: none; 
  display: flex;
  margin: 0;
  padding: 0;
  gap: 6rem;
 
}
@media only screen and (max-width: 960px){
  .header-group ul{
  width: auto;
  list-style: none; 
  display: flex;
  margin: 0;
  padding: 0;
  gap: 1.3rem;
}
}



.header-logo a:hover{
  transform: scale(1.06);
  opacity: 0.9;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.header-group a:hover{
    color:rgb(106, 213, 255);
    margin: 1rem;
}
@media only screen and (max-width: 960px){
  .header-group a:hover{
    color:rgb(106, 213, 255);
    margin: 0.3rem;
}
}
/* .header-group img:hover{
    color:rgb(106, 213, 255);
    border: 2px aqua;
    margin: 1rem;
} */

.header-group a{
  text-decoration: none;
  color: white;
   font-weight: 500;
    font-size: 1.3rem;
  width: clamp(20px, 5vw, 120px);
}
@media only screen and (max-width: 960px){
  .header-group a{
  text-decoration: none;
  color: white;
   font-weight: 500;
    font-size: 0.65rem;
}
}



/* 背景画像アニメーション付き */
.view {
  position: relative;
  z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
    /* background-color: #f0f0f0;  */
     margin-top: 6.5rem;
  
}
@media only screen and (max-width: 960px){
  .view {
  position: relative;
  z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
    /* background-color: #f0f0f0;  */
    margin-top: 7rem;
    width: 100%;
    height: 16rem;
}
}


.view::after {
  content: "";
  position: absolute;
  inset: 0; /* top, right, bottom, left全部0 */
  background-color: rgba(0, 0, 0, 0); /* 透明から始まる */
  animation: fadeDark 1.2s ease-in-out 1.9s forwards;
  pointer-events: none; /* クリックを邪魔しない */
}

@keyframes fadeDark {
  to {
    background-color: rgba(0, 0, 0, 0.8); /* 徐々に暗く */
  }
}

.viewport {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10em;
  width: 100%;
  margin: 2rem;
}
@media only screen and (max-width: 960px){
  .viewport {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 8em;
    margin: 0.7rem;
    width: 100%;
}
}

.row {
    /* opacity: 0.3; */
    display: flex;
    justify-content: center;
    margin: 0rem;
    gap: 0rem;
    width: 100%;
}
@media only screen and (max-width: 960px){
  .row {
    /* opacity: 0.3; */
    display: flex;
    justify-content: center;

    width: 100%;
  }
}





.row img {
    width: 22%;
    opacity: 0;
    margin: -2rem 3rem;
    transform: translateY(50px);
    animation: rise 0.6s forwards;
    border: 3px solid white;
}
@media only screen and (max-width: 960px){
  .row img {
    width: 28%;
    height: 28%;
    opacity: 0;
    margin: -3rem 10px;
    transform: translateY(50px);
    animation: rise 0.6s forwards;
    border: 1.5px solid white;
  }
}

  /* 各段ごとに遅延 */
  .row1 img { animation-delay: 0.3s; }
  .row2 img { animation-delay: 0.9s; }
  .row3 img { animation-delay: 1.5s; }
  /* .row4 img { animation-delay: 0s; }
  .row5 img { animation-delay: 0s; }
  .row6 img { animation-delay: 0; } */

@keyframes rise {
   to {
    opacity: 1;
    transform: translateY(0);
}
}



/* 実績 */
.zisseki{
  margin: 1.9rem auto;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 70%;
  list-style: none;
  
}
@media only screen and (max-width: 960px){
  .zisseki{
  margin: 1rem auto;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 70%;
  list-style: none;
}
}
.zisseki-mitasi{
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 50px;
  padding: -1rem;
  margin-bottom: -0.4rem;
  width: 100%;
}
@media only screen and (max-width: 960px){
  .zisseki-mitasi{
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  padding: -1rem;
  margin-bottom: -0.4rem;
  width: 100%;
  margin-top: 1.3rem;
}
}

.zisseki img{
  width: 100%; /* 画像の幅を指定しておく */
  display: block; /* 画像の下に隙間ができるのを防ぐ */
 margin-left: auto;
  border-radius: 8px;
  border: 2px solid white;
  padding: 0.5rem;
}
@media only screen and (max-width: 960px){
  .zisseki img{
  min-width: 8rem; /* 画像の幅を指定しておく */
  display: block; /* 画像の下に隙間ができるのを防ぐ */
 margin-left: auto;
  border-radius: 8px;
  border: 1px solid white;
  padding: 0.5rem;
}
}


.zisseki a{
  display: block; /*aタグをliサイズに限定 */
  line-height: 0; /* 余白をなくす（ブラウザによって余白が出るのを防ぐ） */
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease, opacity 0.3s ease;
  text-decoration: none;
  color: white;
  
}

.zisseki li{
  background:linear-gradient(45deg, rgb(194, 96, 137),rgb(179, 90, 79));
  padding: 1.5rem;
  border-radius: 8px;
  border: 2px solid white;

}
@media only screen and (max-width: 960px){
 .zisseki li{
  background:linear-gradient(45deg, rgb(194, 96, 137),rgb(179, 90, 79));
  padding: 0.7rem;
  border-radius: 8px;
  border: 2px solid white;
  width: 100%;

  }
}
.zisseki-mitasi-sub-h1{
  font-weight: 400;
  font-size: 1.3rem;
}

@media only screen and (max-width: 960px){
  .zisseki-mitasi-sub-h1{
  font-weight: 300;
  font-size: 0.8rem;
}

}


.cap-cap1,
.cap-cap2,
.cap-cap3{ 
  display: flex;
  padding: 2rem;
  gap: clamp(1rem,10vw,5rem);
}
@media only screen and (max-width: 960px){
 .cap-cap1,
  .cap-cap2,
  .cap-cap3{ 
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.3rem;
  gap: 1rem;
  }
}

.zisseki li a:hover {
  transform: scale(1.08);
  opacity: 0.9;
}


/* 依頼 */
.irai{
  width: 90%;
  margin: 1.9rem auto;

}
@media only screen and (max-width: 960px){
  .irai{
  width: 70%;
  margin: 2rem auto;
}
}
.irai ul{
  
  display: flex;
  color: white;
   list-style: none; 
   margin: 2rem;
   padding: 0;
   width: auto;
     position: relative;
  justify-content: space-evenly;
  
   
}
.irai-samune-h1{
  font-weight: 600;
}
.irai-samune-h2{
  font-weight: 400;
}
@media only screen and (max-width: 960px){
  .irai-samune-h1{
  font-weight: 600;
  font-size: 1.3rem;
}
.irai-samune-h2{
  font-weight: 300;
  font-size: 0.8rem;
}
}

@media only screen and (max-width: 960px){
.irai ul{
  
    display: flex;
  flex-direction: column;
  color: white;
   list-style: none; 
   margin: 2rem;
   padding: 0;
   width: auto;
   position: relative;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
}

.irai li{
  background:linear-gradient(45deg, rgb(59, 146, 197),rgb(172, 70, 197));
  padding: 1rem;
  border-radius: 8px;
  border: 2px solid white;
  width: clamp(15rem,25vw,30rem);
  position: relative;
}

.irai a:hover img{
  transform: scale(1.06);
  opacity: 0.9;
  
}


   
.irai img{
  width: 100%;
   transition: transform 0.3s ease, opacity 0.3s ease;
   padding: 0.4rem;
   border-radius: 4px;
  border: 2px solid white;
  justify-content: center;
  align-items: center;
}

.btn,
a.btn,
button.btn {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.5em;
  position: relative;
  display: inline-block;
  padding: 0.5rem 3rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
  flex-wrap: nowrap;
  white-space: nowrap;
}
@media only screen and (max-width: 960px){
  .btn,
a.btn,
button.btn {
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.3em;
  position: relative;
  display: inline-block;
  padding: 0.5rem 2.5rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
  flex-wrap: nowrap;
  white-space: nowrap;
}
}

a.btn-gradient {
  font-weight: normal;

  color: #fff;
  border-radius: 0;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(40%, #ff3cac),
    to(#562b7c)
  );
  background-image: -webkit-linear-gradient(left, #ff3cac 40%, #562b7c 100%);
  background-image: linear-gradient(90deg, #ff3cac 40%, #562b7c 100%);
}

a.btn-gradient:after {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  content: "";
  -webkit-transition: all 0.5s;
  transition: all 0.5s;

  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ff3cac),
    color-stop(#562b7c),
    to(#2b86c5)
  );

  background-image: -webkit-linear-gradient(left, #ff3cac, #562b7c, #2b86c5);

  background-image: linear-gradient(90deg, #ff3cac, #562b7c, #2b86c5);
}

a.btn-gradient span {
  position: relative;
  z-index: 1;
}

a.btn-gradient:hover {
  color: #fff;
}

a.btn-gradient:hover:after {
  opacity: 0;
}




/* チーム情報 */
.team-info ul{
  display: flex;
  color: white;
}
.team-info{
  width: 80%;
  margin: 1.9rem auto;
}
@media only screen and (max-width: 960px){
  .team-info{
  width: 100%;
  margin: 1.9rem auto;
}
}
.team-info ul{
  
  display: flex;
  color: white;
  justify-content: space-evenly;
  list-style: none; 
  margin: 2rem;
}
.team-info-h2{
  font-weight: 600;
}
@media only screen and (max-width: 960px){
  .team-info-h2{
  font-weight: 400;
}
}


.team-info li{
  background:linear-gradient(45deg, rgb(59, 197, 121),rgb(70, 189, 197));
  padding: 1rem;
  border-radius: 8px;
  border: 2px solid white;
}
@media only screen and (max-width: 960px){
  .team-info li{
  background:linear-gradient(45deg, rgb(59, 197, 121),rgb(70, 189, 197));
  padding: 0.7rem;
  border-radius: 8px;
  border: 2px solid white;
}
}

.team-info a:hover img{
  transform: scale(1.06);
  opacity: 0.9;
}
   
.team-info img{
  width: 100%;
  transition: transform 0.3s ease, opacity 0.3s ease;
  padding: 1rem;
  margin-left: auto;
  border-radius: 8px;
  border: 2px solid white;
  padding: 0.5rem;
  
}




/* sub-footer */
.sub-footer{
  color: white;
  width: 85%;
  margin: 3rem auto;
  text-align: center;
}
@media only screen and (max-width: 960px){
  .sub-footer{
  color: white;
  width: 85%;
  margin: 1.5rem auto;
  text-align: center;
}
}



.sub-footer h2{
  font-size: 2rem;
  width: 50%;
  margin: 0rem auto;
  
}
@media only screen and (max-width: 960px){
  .sub-footer h2{
  font-size: 1rem;
  width: 100%;
  margin: 0rem auto;
  text-wrap: nowrap;
}
}
.sub-footer p{
  font-size: 1rem;
  gap: 1rem;
    margin: 0.5rem auto;
}
@media only screen and (max-width: 960px){
  .sub-footer p{
  font-size: 0.5rem;
    margin: 0.7rem auto;
    text-wrap: nowrap;
}
}


a.btn-border {
  border-radius: 0;
  color: rgb(129, 207, 177);
    margin: 1rem auto;
    position: relative;     
  width: 60%;
}
@media only screen and (max-width: 960px){
  a.btn-border {
  border-radius: 0;
  color: rgb(129, 207, 177);
    margin: 1rem auto;
    position: relative;     
  width: 100%;
  font-weight: 400;
  font-size: 0.8rem;
}
}


a.btn-border:before,
a.btn-border:after {
  position: absolute;

  width: 100%;
  height: 2px;

  content: '';
  -webkit-transition: all .3s;
  transition: all .3s;

  background: #ffffff;
}

a.btn-border:before {
  top: 0;
  left: 0;
}

a.btn-border:after {
  right: 0;
  bottom: 0;
}

a.btn-border:hover:before,
a.btn-border:hover:after {
  width: 0;
  
}


.zisseki *{
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

/* 表示されるときの状態 */
.zisseki .show {
  opacity: 1;
  transform: translateY(0);
}

.irai *{
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

/* 表示されるときの状態 */
.irai .show {
  opacity: 1;
  transform: translateY(0);
}

body{
  background-color: rgb(0, 0, 0);
}
